body {
  background-color: lightblue;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

header {
  background-color: black;
  position: relative;
}

nav {
  position: relative;
  
}

main {
  position: relative;
}

aside {
  position: relative;
}

footer {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 1px;
  height: 50px;
  padding: 5px;
  position: relative;
}

canvas {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 100%;
}

iframe {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 100%;
}

svg {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20px;
}

p {
  margin: 1px;
}

img {
  border: 1px solid black;
  border-radius: 1px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1px;
  width: 40%;
  margin: 5px;
  padding: 5px;
}

li:hover {
  background-color: white;
  width: 40%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-roman;
}

table {
  background-color: grey;
}

th {
  background-color: black;
  color: white;
  border-style: solid;
  padding: 5px;
}

td {
  color: black;
  border-style: solid;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

tr:nth-child(even) {
  background-color: lightgrey;
}



.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:  
    "header header header"
    "nav main aside"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer
}

.removeListStyle {
  list-style-type: none;
}

.removeStyles {
  pointer-events: none;
  background-color: none;
  width: none;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: none;
}

.circle {
  cx: 50px;
  cy: 50px;
  fill: green;
  r: 40px;
  stroke: black;
  stroke-width: 1;

}

img#maxSize {
  height: 100%;
  width: 100%;
}


li#removeStyleAddColor1 {
  pointer-events: none;
  background-color: rgb(50, 50, 255, 0.4);
  width: none;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: none;
}

li#removeStyleAddColor2 {
  pointer-events: none;
  background-color: rgb(255, 50, 50, 0.4);
  width: none;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: none;
}

li#removeStyleAddColor3 {
  pointer-events: none;
  background-color: rgb(50, 255, 50, 0.4);
  width: none;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: none;
}

ol#upperRoman {
  list-style-type: upper-roman;
}


@media screen and (max-width: 700px) {

  header {
    width: 100%;
  }
  
  nav {
    width: 100%;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
  
  footer {
    height: 75px;
    width: 100%;
  }
  
  .body {
    background-color: white;
    color: black;
  }

  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:  
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  } 
}